.mediaViewInfo {
	--web-view-name: company_account_creation;
	--web-view-id: company_account_creation;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: company_account_creation;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#company_account_creation {
	position: absolute;
	width: 1280px;
	height: 800px;
	background-color: rgba(235,235,235,1);
	overflow: hidden;
	--web-view-name: company_account_creation;
	--web-view-id: company_account_creation;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#index_main_xe {
	fill: rgba(246,247,248,1);
}
.index_main_xe {
	overflow: visible;
	position: absolute;
	width: 1208px;
	height: 739px;
	left: 36px;
	top: 31px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_26__1_xf {
	position: absolute;
	width: 65.326px;
	height: 770px;
	left: 36px;
	top: 0px;
	overflow: visible;
}
#index_menu_xg {
	fill: rgba(246,247,248,1);
}
.index_menu_xg {
	position: absolute;
	overflow: visible;
	width: 65.326px;
	height: 770px;
	left: 0px;
	top: 0px;
}
#Icon_awesome-money-bill_xh {
	fill: rgba(0,83,149,1);
}
.Icon_awesome-money-bill_xh {
	overflow: visible;
	position: absolute;
	width: 45px;
	height: 27px;
	left: 10px;
	top: 728px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: lending.html;
	cursor: pointer;
}
#Icon_open-magnifying-glass_xi {
	fill: rgba(0,83,149,1);
}
.Icon_open-magnifying-glass_xi {
	overflow: visible;
	position: absolute;
	width: 36.326px;
	height: 36.326px;
	left: 15px;
	top: 631px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-clipboard-check_xj {
	fill: rgba(0,83,149,1);
}
.Icon_awesome-clipboard-check_xj {
	overflow: visible;
	position: absolute;
	width: 27px;
	height: 36px;
	left: 19px;
	top: 525.181px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: inventory.html;
	cursor: pointer;
}
#Icon_awesome-users_xk {
	fill: rgba(0,83,149,1);
}
.Icon_awesome-users_xk {
	overflow: visible;
	position: absolute;
	width: 45px;
	height: 31.5px;
	left: 10px;
	top: 429.009px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: partners.html;
	cursor: pointer;
}
#Icon_material-message_xl {
	fill: rgba(0,83,149,1);
}
.Icon_material-message_xl {
	overflow: visible;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 18px;
	top: 333.992px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: msgs.html;
	cursor: pointer;
}
#Icon_awesome-wpforms_xm {
	fill: rgba(0,83,149,1);
}
.Icon_awesome-wpforms_xm {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 31.507px;
	left: 17px;
	top: 237.99px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: forms.html;
	cursor: pointer;
}
#Icon_material-dashboard_xn {
	fill: rgba(0,83,149,1);
}
.Icon_material-dashboard_xn {
	overflow: visible;
	position: absolute;
	width: 27px;
	height: 27px;
	left: 19px;
	top: 147.139px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Icon_awesome-database_xo {
	fill: rgba(0,83,149,1);
}
.Icon_awesome-database_xo {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 36px;
	left: 17px;
	top: 44px;
	transform: matrix(1,0,0,1,0,0);
}
#index_header_xp {
	fill: transparent;
}
.index_header_xp {
	position: absolute;
	overflow: visible;
	width: 1143px;
	height: 76px;
	left: 101px;
	top: 31px;
}
#Rectangle_305_xq {
	fill: rgba(0,83,149,1);
}
.Rectangle_305_xq {
	position: absolute;
	overflow: visible;
	width: 1143px;
	height: 739px;
	left: 101px;
	top: 31px;
}
#Rectangle_314_xr {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_314_xr {
	position: absolute;
	overflow: visible;
	width: 863px;
	height: 492px;
	left: 241px;
	top: 174px;
}
#Next_xs {
	position: absolute;
	width: 341px;
	height: 48px;
	left: 503px;
	top: 604px;
	overflow: visible;
}
#Rectangle_112_xt {
	fill: rgba(0,83,149,1);
}
.Rectangle_112_xt {
	position: absolute;
	overflow: visible;
	width: 341px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Symbol_18__1_xu {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 162.022px;
	top: 16px;
	overflow: visible;
}
#Path_10_xv {
	fill: rgba(255,255,255,1);
}
.Path_10_xv {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Input_xw {
	position: absolute;
	width: 341px;
	height: 314px;
	left: 502px;
	top: 243px;
	overflow: visible;
}
#Input_xx {
	position: absolute;
	width: 341px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_107_xy {
	fill: rgba(255,255,255,1);
	stroke: rgba(188,224,253,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_107_xy {
	position: absolute;
	overflow: visible;
	width: 341px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#John_Doe_xz {
	left: 16px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,83,149,1);
}
#Full_Name_x {
	left: 284px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: right;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(0,83,149,1);
}
#Input_x {
	position: absolute;
	width: 341px;
	height: 50px;
	left: 0px;
	top: 66px;
	overflow: visible;
}
#Rectangle_107_x {
	fill: rgba(255,255,255,1);
	stroke: rgba(188,224,253,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_107_x {
	position: absolute;
	overflow: visible;
	width: 341px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#johndoemailcom_x {
	left: 15px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,83,149,1);
}
#Email_x {
	left: 301px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: right;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(0,83,149,1);
}
#Input_ya {
	position: absolute;
	width: 341px;
	height: 50px;
	left: 0px;
	top: 198px;
	overflow: visible;
}
#Rectangle_107_ya {
	fill: rgba(255,255,255,1);
	stroke: rgba(188,224,253,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_107_ya {
	overflow: visible;
	position: absolute;
	width: 341px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#password_x {
	left: 282px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: right;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(0,83,149,1);
}
#Input_yb {
	position: absolute;
	width: 341px;
	height: 100px;
	left: 0px;
	top: 214px;
	overflow: visible;
}
#Rectangle_107_yb {
	fill: rgba(255,255,255,1);
	stroke: rgba(188,224,253,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_107_yb {
	position: absolute;
	overflow: visible;
	width: 341px;
	height: 50px;
	left: 0px;
	top: 50px;
}
#Text_ya {
	left: 20px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,83,149,1);
}
#Text_yb {
	left: 20px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,83,149,1);
}
#Password {
	left: 282px;
	top: 70px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: right;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(0,83,149,1);
}
#Create_an_Account_yd {
	left: 502px;
	top: 191px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,83,149,1);
}
#Navigation_Bar_ye {
	position: absolute;
	width: 389px;
	height: 68px;
	left: -158px;
	top: 253px;
	overflow: visible;
}
#Rectangle_68_yf {
	fill: transparent;
}
.Rectangle_68_yf {
	position: absolute;
	overflow: visible;
	width: 389px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#Rectangle_69_yg {
	fill: transparent;
}
.Rectangle_69_yg {
	position: absolute;
	overflow: visible;
	width: 389px;
	height: 48px;
	left: 0px;
	top: 20px;
}
#Backward_arrow_yh {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 16px;
	top: 36px;
	overflow: visible;
}
#Path_10_yi {
	fill: rgba(38,153,251,1);
}
.Path_10_yi {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	transform: translate(0px, 0px) matrix(1,0,0,1,0,0) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#dEDI_yj {
	position: absolute;
	width: 90px;
	height: 80px;
	left: 126px;
	top: 35px;
	overflow: visible;
}